@import 'tailwindcss';

@theme {
  /* Cores */
  --color-azul: #1a5fb4;
  --color-azulBtn: #1048cb;
  --color-branco: #f8f8f8;
  --color-cinza1: #e0e0e0;
  --color-cinza2: #e6e6e6;

  /* Font */
  --default-font-family: 'system-ui';

  /* Responsividade */
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

@layer components {
  .cards {
    @apply  flex w-full flex-col items-start gap-4 self-stretch rounded-xl bg-white p-6 shadow-lg md:max-w-[700px];
  }

  .titulo-cards {
    @apply text-azul text-xl font-semibold;
  }

  .btn {
    @apply bg-azulBtn text-branco hover:bg-azul flex w-full cursor-pointer items-center gap-3 rounded-lg px-4 py-3 text-left text-sm font-medium shadow-sm;
  }
}